:root {
  --font-body: "fieldwork", sans-serif;
  --font-display: "benton-modern-display-conden", serif;
}

body {
  font-family: var(--font-body);
}

h1, h2, h3 {
  font-family: var(--font-display);
}
